*{
	margin: 0;
	padding: 0;
}

body{
	width: 155px;
	text-align: center;
}

span#title{
	display: inline-block;
	background-color: #000;
	color: #fff;
	width: 155px;
	padding: 4px;
	margin-bottom: 20px;
}

h1{
	margin-bottom: 20px;
}

div#button{
	margin-bottom: 10px;
}